<!--u zavisnosti od flega bice prikazani razliciti naslovi -->

<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">        Dodavanje novog smera i podataka o njemu </h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija postojeceg smera: {{data.naziv}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje smera koji se nalazi na spisku: {{data.naziv}}</h3>
    <form class="mat-dialog-content" #formControl= "ngForm">
        <div class="form">
           <mat-form-field>
               <input matInput placeholder="Naziv" [(ngModel)] = "data.naziv" name="naziv" [disabled]= "flag == 3" required>
               <!--nasa komponenta ce prosledjivati, ali ce nesto morati i da vrati. podaci su nam ova promenljiva data
            kada je u pitanju brisanje, zlim da mi prikazes naziv koji brises, ali u svim slucajevima je required -->
           </mat-form-field>     
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Oznaka" [(ngModel)] = "data.oznaka" name="oznaka" [disabled]= "flag == 3" required>
            </mat-form-field>     
         </div>
         <!--trebaju nam u okviru dijaloga i dugmad, te kreiramo jos jedan div -->
        <div mat-dialog-actions>
            <button mat-button *ngIf="flag==1" type="submit" [mat-dialog-close]="1" (click)="addSmer()" [disabled]="!formControl.valid">
                <!--vezemo za dogadjaj na osnovu kog ce se pojaviti ovo dugmence, ali ovde moramo imati 2 sacuvaj jer 
                postoji i za fleg 1 i 2 -->
                Sačuvaj
            </button>
            <button mat-button *ngIf="flag==2" type="submit" [mat-dialog-close]="1" (click)="updateSmer()" [disabled]="!formControl.valid">
                Sačuvaj
            </button>
            <button mat-button *ngIf="flag==3" type="submit" [mat-dialog-close]="1" (click)="deleteSmer()">
                Obriši
            </button>
            <button mat-button (click)="cancel()">
                Poništi
            </button>
        </div>

    </form>

</div> 